@import '../../../(app)/_styles/mixins.scss';

.bg {
    @include allAnimation(all, 0.25s);

    position: fixed;
    inset: 0;
    visibility: hidden;
    z-index: 2;

    &.active {
        visibility: visible;
        background-color: rgba($color: #d9d9d9, $alpha: 0.2);
    }

    &_sidebar {
        @include allAnimation(all, 0.25s);
        @include flexVerticalGap(16);

        z-index: 1;
        position: absolute;
        right: em(-529);
        top: 0;
        background-color: black;
        width: em(529);
        height: 100vh;
        padding: toRem(50) toRem(32);
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: toRem(2);
        }

        &.active {
            right: 0;
        }

        > button {
            width: min-content;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_title {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: toRem(32);
}

.action {
    display: flex;
    flex-direction: column;
    gap: toRem(32);

    &_priceBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_title {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
    }

    &_price {
        color: $autumnBlaze;
        font-size: 24px;
        font-weight: 600;
        line-height: 22px;
    }
}

.horizontal-bar {
    width: 100%;
    height: 2px;
    background-color: white;
}

.btn-box {
    width: 100%;

    &_btn {
        width: 100%;
    }
}

.emptyBlock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
}
