@import '../../../../_styles/mixins.scss';

.map_legend {
    @include flexHorizontalGap(10);
    @include onMobile {
        padding: toRem(16) toRem(24);
        top: 5%;
        left: 5%;
    }

    padding: toRem(32) toRem(24);
    position: absolute;
    top: 10%;
    left: 10%;

    border-radius: toRem(16);
    background-color: rgba(53, 53, 53, 0.90);
    z-index: 1;
    pointer-events: none;

    &_group {
        @include flexHorizontalGap(6);

        align-items: center;
    }
}
