@import '../../_styles/mixins.scss';

.wrapper {
    overflow: hidden;

    &_marquee {
        @include flexHorizontalGap(12);
    }
}

.image {
    @include onMobile {
        padding: 0 20px;
    }

    padding: 0 16px;
    display: grid;
    place-items: center;

    > img {
        @include onMobile {
            width: em(106);
            height: toRem(40);
        }

        width: em(250);
        height: toRem(94);
    }
}
