@import '../../../../(app)/_styles/mixins.scss';

.wrapper {
    @include flexVerticalGap(20);

    padding-top: toRem(260);
    padding-bottom: toRem(150);

    &_heading {
        @include flexVerticalGap(2);

        align-items: center;

        > div > h1 {
            @include fontSize(toRem(88), 4vw, toRem(88), 600);
        }

        > div > p {
            @include fontSize(toRem(22), 4vw, toRem(22), 600);

            max-width: em(600);
        }
    }

    &_image-box {
        > img {
            width: 100%;
            height: auto;
        }
    }
}
