@import '../../../../_styles/vaiables.scss';

.item {
    display: flex;
    flex-direction: column;
    gap: toRem(8);
    padding-bottom: toRem(24);
    border-bottom: $shadowCharcoal toRem(2) solid;

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_planName {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
    }

    &_planType {
        color: $autumnBlaze;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
    }

    &_planPrice {
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
    }
}
