@import '../../../../(app)/_styles/mixins.scss';

.heading {
    @include flexVerticalGap(2);

    align-items: center;

    > div > h1 {
        &.XXL {
            @include fontSize(toRem(88), 4vw, toRem(88), 600);
        }

        &.XL {
            @include fontSize(toRem(54), 4vw, toRem(54), 600);
        }

        &.L {
            @include fontSize(toRem(32), 4vw, toRem(32), 600);
        }
    }

    > div > p {
        max-width: em(600);
        text-align: center;

        &.XXL {
            @include fontSize(toRem(24), 4vw, toRem(24), 600, 130%);
        }

        &.XL {
            @include fontSize(toRem(24), 4vw, toRem(24), 600, 130%);
        }

        &.L {
            @include fontSize(toRem(20), 4vw, toRem(20), 400, 130%);
        }
    }
}
