@import '../../../../../../_styles/mixins.scss';

.map_legend_item {
    @include flexHorizontalGap(3);

    align-items: center;

    &_color {
        @include onMobile {
            width: toRem(16);
            height: toRem(16);
        }

        width: toRem(20);
        height: toRem(20);

        border-radius: toRem(4);
    }

    & > span {
        @include onMobile {
            @include fontSize(toRem(14), 4vw, toRem(14), 600);
        }

        @include fontSize(toRem(16), 4vw, toRem(16), 600);

        text-transform: uppercase;
    }
}
