@import '../../../../(app)/_styles/mixins.scss';

.wrapper {
    @include flexVerticalGap(20);
    @include onMobile {
        @include flexVerticalGap(10);
    }

    &_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: toRem(32);
    }

    &_content {
        @include flexHorizontalGap(25);
        @include onMobile {
            @include flexVerticalGap(8);
        }

        align-items: center;
    }
}

.left-side {
    width: 100%;
}

.right-side {
    @include onMobile {
        order: -1;
    }

    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: toRem(20);

    > img {
        width: 100%;
        height: auto;
    }

    > img:nth-child(1) {
        grid-area: 1 / 1 / 2 / 4;
    }

    > img:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
    }

    > img:nth-child(3) {
        grid-area: 2 / 2 / 3 / 3;
    }

    > img:nth-child(4) {
        grid-area: 2 / 3 / 3 / 4;
    }
}
