@import '../../../../../../(app)/_styles/mixins.scss';
@import '../../../../../../(app)/_styles/vaiables.scss';

.marker {
  @include flexHorizontalGap(4);
  @include onMobile {
    @include flexHorizontalGap(2);
  }

  align-items: center;

  &__value {
    @include fontSize(toRem(40), 4vw, toRem(40), 700, 50%);
    @include onMobile {
      @include fontSize(toRem(32), 4vw, toRem(32), 700, 100%);
    }

    color: $autumnBlaze;
  }

  &__label {
    @include fontSize(toRem(20), 4vw, toRem(20), 600);
    @include onMobile {
      @include fontSize(toRem(16), 4vw, toRem(16), 600, 120%);
    }

    max-width: 120px;
  }
}
