@import '../../../../(app)/_styles/mixins.scss';
@import '../../../../(app)/_styles/vaiables.scss';

.wrapper {
    @include flexVerticalGap(20);

    &_heading {
        @include flexVerticalGap(1);

        > div {
            > p {
                @include fontSize(toRem(20), 4vw, toRem(20), 600);

                color: $mistySlate;
            }

            > h1 {
                @include fontSize(toRem(58), 4vw, toRem(58), 600);
            }
        }
    }

    &_box {
        @include flexHorizontalGap(12.5);

        > .box {
            @include flexVerticalGap(4);

            justify-content: center;

            > h2 {
                @include fontSize(toRem(44), 4vw, toRem(44), 600);
            }

            > p {
                @include fontSize(toRem(18), 4vw, toRem(18), 400, 150%);

                &:first-of-type {
                    padding-top: toRem(8);
                }
            }
        }
    }
}
