@import '../../../../(app)/_styles/mixins.scss';
@import '../../../../(app)/_styles/vaiables.scss';

.wrapper {
    @include flexVerticalGap(16.5);

    &_slider {
        overflow: hidden;
    }
}

.slider_container {
    @include flexHorizontalGap(8);
}

.slide {
    @include flexVerticalGap(4);

    > div > span {
        @include fontSize(toRem(24), 4vw, toRem(24), 600);

        color: $slateSilver;
    }

    > div > p {
        @include fontSize(toRem(24), 4vw, toRem(24), 400);

        color: $mistySlate;
    }
}
