@import '../../../../(app)/_styles/mixins.scss';
@import '../../../../(app)/_styles/vaiables.scss';

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url('/backgrounds/home.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;

    &_container {
        @include flexVerticalGap(8);
        @include onMobile {
            @include flexVerticalGap(6);
        }

        h1 {
            text-align: center;
        }
    }
}

.btn-box {
    @include flexHorizontalGap(6);
    @include onMobile {
        @include flexVerticalGap(4);

        > button {
            width: 100% !important;
        }
    }

    justify-content: center;

    > button:first-child {
        color: white !important;
    }
}
