@import '../../../../(app)/_styles/mixins.scss';

.wrapper {
    padding-top: toRem(400);
    padding-bottom: toRem(432);
    background-image: url('/backgrounds/home.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;

    &_container {
        @include flexVerticalGap(8);

        h1 {
            text-align: center;
        }
    }
}

.btn-box {
    @include flexHorizontalGap(6);

    justify-content: center;

    > button:first-child {
        color: white !important;
    }
}
