@import '../../../../(app)/_styles/mixins.scss';

.wrapper {
    @include flexVerticalGap(8);

    min-width: 375px;

    &_video-box {
        position: relative;

        > img {
            max-width: 100%;
            height: auto;
        }

        > svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
    }

    &_heading {
        @include flexVerticalGap(6);
        @include onMobile {
            @include flexVerticalGap(4);
        }

        > h2 {
            @include fontSize(toRem(32), 4vw, toRem(32), 600);
            @include onMobile {
                @include fontSize(toRem(24), 4vw, toRem(24), 600);
            }
        }

        > p {
            @include fontSize(toRem(18), 4vw, toRem(18), 400, 150%);
            @include onMobile {
                @include fontSize(toRem(16), 4vw, toRem(16), 400, 150%);
            }
        }
    }
}
