@import '../../../../(app)/_styles/mixins.scss';
@import '../../../../(app)/_styles/vaiables.scss';

.wrapper {
    @include flexVerticalGap(20);
    @include onMobile {
        @include flexVerticalGap(6);
    }

    &_video {
        position: relative;

        > img {
            @include onMobile {
                height: toRem(240);
            }

            max-width: 100%;
            height: auto;
        }

        > svg {
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &_list {
        @include flexHorizontalGap(8);
        @include onMobile {
            @include flexHorizontalGap(4);
        }

        justify-content: space-around;

        > li {
            @include flexVerticalGap(6);

            align-items: center;

            > img {
                @include onMobile {
                    height: auto;
                }

                width: 100%;
            }

            > span {
                @include fontSize(toRem(28), 4vw, toRem(28), 600);
                @include onMobile {
                    display: none;
                }
            }
        }
    }
}
