@import '../../../../(app)/_styles/mixins.scss';
@import '../../../../(app)/_styles/vaiables.scss';

.wrapper {
    @include flexHorizontalGap(3);
    @include fontSize(toRem(16), 4vw, toRem(16), 600);
    @include onMobile {
        @include flexVerticalGap(4);
        @include fontSize(toRem(12), 4vw, toRem(12), 600);

        padding-block: toRem(20);
    }

    justify-content: space-between;
    align-items: center;
    padding-block: toRem(24);
    color: $mistySlate;

    &_left-side {
        @include flexHorizontalGap(5);
        @include onMobile {
            @include flexHorizontalGap(3);
        }

        align-items: center;

        > .vertical-line {
            width: toRem(1);
            height: toRem(27);
            background-color: $shadowCharcoal;
        }
    }

    &_right-side {
        height: fit-content;
    }
}
