@import '../../../(app)/_styles/mixins.scss';

.wrapper {
    @include flexVerticalGap(20);
    @include onMobile {
        @include flexVerticalGap(10);

        padding: toRem(160) 0 toRem(120) 0;
    }

    padding: toRem(260) 0 toRem(150) 0;

    &_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: toRem(32);
    }
}
