@import '../../../../(app)/_styles/mixins.scss';
@import '../../../../(app)/_styles/vaiables.scss';

.wrapper {
    @include flexVerticalGap(37.5);
}

.accordions-box {
    @include flexVerticalGap(12.5);

    &_wrapper {
        display: flex;
    }

    &_heading {
        @include flexVerticalGap(1);

        > div {
            > p {
                @include fontSize(toRem(20), 4vw, toRem(20), 600);

                color: $mistySlate;
            }

            > h1 {
                @include fontSize(toRem(64), 4vw, toRem(64), 800);
            }
        }
    }
}

.border {
    width: toRem(1);
    background-color: $shadowCharcoal;
}
