@import '../../(app)/_styles/mixins.scss';
@import '../../(app)/_styles/vaiables.scss';

@mixin list {
    > li {
        display: flex;
        height: fit-content;
    }

    > li > a {
        @include allAnimation(all, 0.1s);
        @include fontSize(toRem(18), 4vw, toRem(18), 600);
    }
}

@mixin link-active($colorLink, $opacity: 1, $activeOpacity: 1) {
    @include allAnimation(all, 0.1s);

    color: rgba(#fff, $opacity);

    &:hover,
    &.active {
        color: rgba($colorLink, $activeOpacity);
    }
}

.wrapper {
    @include flexHorizontalGap(10);
    @include container;

    justify-content: space-between;
    position: absolute;
    top: toRem(18);
    left: 50%;
    transform: translateX(-50%);

    &_left-side {
        @include flexHorizontalGap(12);
    }

    &_right-side {
        @include flexHorizontalGap(12);

        align-items: center;
    }
}

.nav-left {
    @include onTablet {
        display: none;
    }

    display: flex;
    align-items: center;

    &_list {
        @include flexHorizontalGap(8);
        @include list;
    }
}

.link {
    @include link-active(#fff, 1, 0.5);
}

.nav-right {
    @include onMobile {
        display: none;
    }

    display: flex;
    align-items: center;

    &_list {
        @include flexHorizontalGap(4);
        @include list;

        display: flex;
        align-items: center;

        > li > a {
            @include link-active($autumnBlaze, 0.5, 1);
        }
    }
}

.vertical-bar {
    @include fontSize(toRem(18), 4vw, toRem(18), 600);
}

.icon-btn {
    height: fit-content;

    > svg {
        @include opacityAnimation;

        &:hover {
            opacity: 0.5;
        }
    }
}
