@import '../../../../(app)/_styles/mixins.scss';
@import '../../../../(app)/_styles/vaiables.scss';

@mixin btnPrevNext {
    width: toRem(48);
    height: toRem(48);
    display: grid;
    place-items: center;
    background-color: $autumnBlaze;
    border-radius: 50%;
    cursor: pointer;

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.wrapper {
    @include flexHorizontalGap(4);

    align-items: center;
    justify-content: center;

    &_prev,
    &_next {
        @include btnPrevNext;
        @include opacityAnimation;

        &:not(.disabled):hover {
            opacity: 0.75;
        }
    }

    &_next {
        transform: rotate(-180deg);
    }

    &_count {
        @include fontSize(toRem(24), 4vw, toRem(24), 400);

        cursor: pointer;
        height: fit-content;

        &.selected {
            color: $autumnBlaze;
        }
    }
}
