@import '../../../../(app)/_styles/mixins.scss';

.wrapper {
    background-image: url('/backgrounds/services.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-block: toRem(452);
    margin-bottom: toRem(120);

    &_container {
        @include container;
    }
}
