@import '../../../../(app)/_styles/mixins.scss';
@import '../../../../(app)/_styles/vaiables.scss';

.wrapper {
    @include flexVerticalGap(20);

    &_content {
        @include flexHorizontalGap(18.5);

        > img {
            width: 50%;
        }
    }
}

.right-side {
    @include flexVerticalGap(10);

    width: 100%;
    justify-content: center;

    .btn-box {
        @include flexHorizontalGap(5);

        > button:first-child {
            color: white;
        }
    }
}
