@import '../../../../../../(app)/_styles/mixins.scss';

.root {
  width: 100%;
  
  .download_btn {
    @include opacityAnimation;

    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }
  }
}