@import './null.scss';
@import './vaiables.scss';
@import './mixins.scss';

html,
body {
    background-color: $midnightSlate;
    height: 100%;
    color: white;

    ::-webkit-scrollbar {
        width: toRem(4);
        height: toRem(4);

        &-thumb {
            background-color: $autumnBlaze;
            border-radius: toRem(2);
        }

        &-track {
            background-color: transparent;
        }
    }
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}
