// colors
$autumnBlaze: #faa055;
$shadowSlate: #464646;
$midnightSahadow: #0b0b0b;
$midnightSlate: #131313;
$shadowCharcoal: #1c1c21;
$mistySlate: #797c86;
$slateSilver: #cacace;
$midnightAbyss: #070708;
$mistyLavender: #afb0b6;
$silverMist: #c4c4c4;
$midnightMoss: #141718;
$twilightAsh: #232627;

// Settings
$maxWidthContainer: 1664;
$minWidth: 320;
$maxWidth: 1920;
// Media
$pc: 1199.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;
