// colors
$autumnBlaze: #faa055;
$shadowSlate: #464646;
$midnightSahadow: #0b0b0b;
$midnightSlate: #131313;
$shadowCharcoal: #1c1c21;
$mistySlate: #797c86;
$slateSilver: #cacace;
$midnightAbyss: #070708;
$mistyLavender: #afb0b6;
$silverMist: #c4c4c4;
$midnightMoss: #141718;
$twilightAsh: #232627;

// Settings
$maxWidthContainer: 1664;
$minWidth: 320;
$maxWidth: 1920;
// Media
$pc: em(1199.98);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);
