// colors
$autumnBlaze: #faa055;
$shadowSlate: #464646;
$midnightSahadow: #0b0b0b;
$shadowCharcoal: #1c1c21;
$mistySlate: #797c86;
$midnightAbyss: #070708;

// Settings
$maxWidthContainer: 1664;

// Media
$pc: em(1199.98);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);
