@import '../../../../../../(app)/_styles/mixins.scss';

.job_board {
  @include flexVerticalGap(12);
  @include onMobile {
    @include flexVerticalGap(10);
  }

  &__list {
    @include flexVerticalGap(10);
    @include onMobile {
      @include flexVerticalGap(5);
    }
  }

  > button {
    @include onMobile {
      width: 100%!important;
    }

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
