@import '../../../(app)/_styles/mixins.scss';

.wrapper {
    @include flexVerticalGap(37.5);

    padding-top: toRem(260);
    padding-bottom: toRem(150);

    background-image: url('/images/earth-7.svg');
    background-repeat: no-repeat;
}
