@import '../../../(app)/_styles/mixins.scss';

.wrapper {
    @include flexVerticalGap(37.5);
    @include onMobile {
        @include flexVerticalGap(30);

        padding: toRem(160) 0 toRem(120);
    }

    padding: toRem(260) 0 toRem(150);

    background-image: url('/images/earth-7.svg');
    background-repeat: no-repeat;
}
