@import '../../../../(app)/_styles/mixins.scss';
@import '../../../../(app)/_styles/vaiables.scss';

.wrapper {
    @include flexHorizontalGap(3);
    @include onMobile {
        @include flexVerticalGap(10);

        padding: toRem(60) 0 toRem(40);
    }

    padding-block: toRem(64);
    justify-content: space-between;

    &_left-side {
        @include flexVerticalGap(6);
        @include onMobile {
            @include flexVerticalGap(3);
        }

        max-width: toRem(360);

        .logo_container {
            @include flexVerticalGap(6);
            @include onMobile {
                @include flexVerticalGap(4);
            }

            > p {
                @include fontSize(toRem(16), 4vw, toRem(16), 400);
                @include onMobile {
                    @include fontSize(toRem(14), 4vw, toRem(14), 400);
                }
            }
        }
    }

    &_right-side {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: toRem(44);
        column-gap: toRem(116);

        @include onTablet {
            grid-template-columns: repeat(2, 1fr);
            row-gap: toRem(40);
            column-gap: toRem(12);
        }

        > ul:nth-last-child(2) {
            @include onTablet {
                grid-area: unset;
            }

            grid-area: 2 / 2 / 3 / 3;
        }

        > ul:last-child {
            @include onTablet {
                grid-area: unset;
            }

            grid-area: 2 / 3 / 3 / 4;
        }
    }
}

.list {
    display: flex;
    gap: toRem(10);
    background-color: $midnightAbyss;
    padding: toRem(10);
    width: fit-content;
    border-radius: toRem(100);
    border: toRem(1) solid $shadowCharcoal;

    &_item {
        transition: all 0.2s ease;
        overflow: hidden;
        border: toRem(1) solid transparent;
        border-radius: 50%;
        background: linear-gradient(#0b0b0b, #2f2f37) padding-box, linear-gradient(to top, #0b0b0b, #2f2f37) border-box;

        > a {
            width: toRem(48);
            height: toRem(48);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $shadowCharcoal;
        }

        &:first-child:hover {
            border-top-right-radius: toRem(15) !important;
            border-bottom-right-radius: toRem(15) !important;
        }

        &:nth-child(2):hover {
            border-radius: toRem(15);
        }

        &:last-child:hover {
            border-top-left-radius: toRem(15) !important;
            border-bottom-left-radius: toRem(15) !important;
        }
    }
}
