@import '../../../../(app)/_styles/mixins.scss';
@import '../../../../(app)/_styles/vaiables.scss';

.wrapper {
    @include flexHorizontalGap(3);

    padding-block: toRem(64);
    justify-content: space-between;

    &_left-side {
        @include flexVerticalGap(6);

        > p {
            @include fontSize(toRem(18), 4vw, toRem(18), 400);

            max-width: em(440);
            color: white;
        }
    }

    &_right-side {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: toRem(44);
        column-gap: toRem(116);
    }
}

.list {
    margin-top: toRem(8);
    display: flex;
    gap: toRem(10);
    background-color: $midnightAbyss;
    padding: toRem(10);
    width: fit-content;
    border-radius: toRem(100);
    border: toRem(1) solid $shadowCharcoal;

    &_item {
        transition: all 0.2s ease;

        border: toRem(1) solid transparent;
        border-radius: 50%;
        background: linear-gradient(#0b0b0b, #2f2f37) padding-box, linear-gradient(to top, #0b0b0b, #2f2f37) border-box;

        > a {
            width: toRem(48);
            height: toRem(48);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $shadowCharcoal;
            border-radius: 50%;
        }

        &:hover {
            border-radius: 15px;

            > a {
                border-radius: 15px;
            }
        }
    }
}
