@import '../../../(app)/_styles/mixins.scss';
@import '../../../(app)/_styles/vaiables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    border-top: toRem(1) solid $shadowCharcoal;
}

.accordion {
    cursor: pointer;
    padding: toRem(42) toRem(50);
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-height: toRem(138);

    &.active {
        .accordion_btn {
            transform: rotate(180deg);
        }

        .accordion_title {
            color: white;
        }
    }

    &_title {
        @include fontSize(toRem(20), 4vw, toRem(20), 600, 150%);
        @include allAnimation(color, 0.2s);

        color: $mistyLavender;
        max-width: toRem(550);
    }

    &_btn {
        @include transformAnimation;

        border: toRem(1) solid $shadowCharcoal;
        border-radius: 50%;
        padding: toRem(14);
    }

    &_content {
        @include allAnimation(max-height, 0.2s);
        overflow: hidden;
        transition: max-height 0.2s ease;
    }

    &_text {
        @include fontSize(toRem(18), 4vw, toRem(18), 400, 150%);
        padding: 0 toRem(150) toRem(42) toRem(50);
    }
}
