@import '../../../../../../(app)/_styles/mixins.scss';

.wrapper {
    @include flexVerticalGap(8);
    @include onMobile {
        @include flexVerticalGap(6);
    }

    > img {
        @include onMobile {
            width: 100%;
        }

        max-width: 100%;
        height: auto;
    }
}

.heading {
    align-items: start;

    > div > p {
        text-align: start;
    }
}
