@import '../../../../../../(app)/_styles/mixins.scss';

.wrapper {
    @include flexVerticalGap(8);
    @include onMobile {
        @include flexVerticalGap(6);
    }

    > img {
        @include allAnimation(all, 0.25s);
        @include onMobile {
            width: 100%;
        }

        max-width: 100%;
        height: auto;

        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

.heading {
    align-items: start;

    > div {
        > p,
        > h1 {
            text-align: start;
        }
    }
}
