@import '../../../../../../(app)/_styles/mixins.scss';

.wrapper {
    @include flexVerticalGap(8);

    > img {
        max-width: 100%;
        height: auto;
        filter: brightness(90%);
    }
}

.heading {
    align-items: start;

    > div > p {
        text-align: start;
    }
}
