@import '../../../../(app)/_styles/mixins.scss';

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url('/backgrounds/roam.svg');
    background-repeat: no-repeat;
    background-size: cover;

    &_container {
        @include flexVerticalGap(8);
        @include onMobile {
            @include flexVerticalGap(6);
        }

        h1 {
            text-align: center;
        }
    }
}

.btn-box {
    @include onMobile {
        > button {
            width: 100% !important;
        }
    }

    text-align: center;
}
