@import '../../../../(app)/_styles/mixins.scss';

.wrapper {
    @include flexVerticalGap(12);
    align-items: center;
    padding-block: toRem(120);
    background-image: url('/home/starry-sky.png');
    background-size: cover;

    &_heading {
        > div:first-child > h1 {
            color: $autumnBlaze;
        }
    }

    &_form {
        @include flexVerticalGap(6);

        align-items: center;
        max-width: em(480);
        width: 100%;

        > label {
            max-width: none !important;
            width: 100%;

            > input {
                border-color: $autumnBlaze;
            }
        }
    }
}
