@import '../../../(app)/_styles/mixins.scss';
@import '../../../(app)/_styles/vaiables.scss';

.button {
    @include allAnimation(all, 0.1s);

    border-radius: toRem(38);
    padding-block: toRem(22);
    max-height: toRem(62);
    background-color: $autumnBlaze;

    &:hover {
        background-color: rgba($color: $autumnBlaze, $alpha: 0.75);
    }

    &.without-bg {
        background-color: transparent;
        border: toRem(1) solid $autumnBlaze;
        color: $autumnBlaze !important;

        &:hover {
            color: rgba($color: $autumnBlaze, $alpha: 0.75) !important;
        }
    }

    &.long {
        @include fontSize(toRem(16), 4vw, toRem(16), 600);
        @include flexHorizontalGap(5);

        align-items: center;
        justify-content: center;
        min-width: toRem(280);
    }

    &.short {
        @include fontSize(toRem(16), 4vw, toRem(16), 600);

        padding: toRem(16) toRem(32);
        color: black;
        border-radius: toRem(100);
        width: fit-content;
    }
}
