@import '../../../../(app)/_styles/mixins.scss';

.wrapper {
    @include flexVerticalGap(20);
    @include onMobile {
        @include flexVerticalGap(6);
    }

    &_video {
        position: relative;

        > img {
            max-width: 100%;
            height: auto;
        }

        > svg {
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
