@import '../../../(app)/_styles/mixins.scss';
@import '../../../(app)/_styles/vaiables.scss';

.wrapper {
    position: relative;
    overflow: hidden;
}

.input:focus-within ~ .placeholder {
    opacity: 0;
    top: 0;
}

.input {
    @include allAnimation(all, 0.2s);
    @include fontSize(toRem(18), 4vw, toRem(18), 400, 150%);

    width: 100%;
    border: toRem(1) solid $shadowSlate;
    outline: none;
    color: $silverMist;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-text-fill-color: $silverMist !important;
        -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
        border: 1px solid #464646 !important;
    }

    &::placeholder {
        color: $silverMist;
    }

    &.first {
        padding: toRem(18) toRem(20);
        border-radius: toRem(52);
        backdrop-filter: blur(toRem(4));
        background: rgba(255, 255, 255, 0.02);
    }

    &.error {
        border-color: red;

        &::placeholder {
            color: red;
        }
    }
}
