@import '../../../../(app)/_styles/mixins.scss';
@import '../../../../(app)/_styles/vaiables.scss';

.wrapper {
    @include flexVerticalGap(20);
    @include onMobile {
        @include flexVerticalGap(10);
    }

    &_content {
        @include flexHorizontalGap(12.5);
        @include onMobile {
            @include flexVerticalGap(8);
        }

        .left-side {
            width: 100%;
        }

        .right-side {
            @include flexVerticalGap(8);
            @include onMobile {
                @include flexVerticalGap(6);

                padding: 0;
                order: -1;
            }

            width: 100%;
            padding-inline: toRem(72);
            justify-content: center;

            > img {
                width: 100%;
            }
        }
    }
}
