@import '../../../../(app)/_styles/mixins.scss';
@import '../../../../(app)/_styles/vaiables.scss';

.wrapper {
    @include flexVerticalGap(20);

    &_content {
        @include flexHorizontalGap(12.5);

        .left-side {
            width: 100%;
        }

        .right-side {
            @include flexVerticalGap(8);

            width: 100%;
            padding-inline: toRem(72);
            justify-content: center;

            > img {
                width: 100%;
            }
        }
    }
}
