@import '../../../../../../(app)/_styles/mixins.scss';
@import '../../../../../../(app)/_styles/vaiables.scss';

.metric {
  @include flexVerticalGap(6);
  @include onMobile {
    @include flexVerticalGap(4);
  }

  overflow: hidden;

  &__value {
    @include fontSize(toRem(64), 4vw, toRem(64), 600);
    @include onMobile {
      @include fontSize(toRem(32), 4vw, toRem(32), 600, 150%);
      
      text-align: center
    }
  }

  &__label {
    @include fontSize(toRem(24), 4vw, toRem(24), 600, 150%);
    @include onMobile {
      @include fontSize(toRem(16), 4vw, toRem(16), 600, 150%);
      
      text-align: center
    }
  }

  .progress {
    height: 1px;

    position: relative;

    background: linear-gradient(90deg, $autumnBlaze 0%, rgba(250, 160, 85, 0) 100%);

    &__circle {
      @include allAnimation(left, 0.8s);

      width: 20px;
      height: 20px;

      position: absolute;
      transform: translate(-50%, -50%);

      border-radius: 50%;
      background: $autumnBlaze;

      &::before {
        content: '';
        width: 200px;
        height: 1px;

        position: absolute;
        left: 0;
        top: 50%;
        transform: translateX(-100%);

        background: $autumnBlaze;
      }
    }
  }
}
