@import '../../../(app)/_styles/mixins.scss';

.logo {
    @include opacityAnimation;
    @include onMobile {
        > img {
            width: toRem(84);
            height: toRem(53);
        }
    }

    width: fit-content;
    display: flex;
    align-items: center;
    height: fit-content;

    &:hover {
        opacity: 0.75;
    }
}
