@import '../../../(app)/_styles/mixins.scss';

.logo {
    @include opacityAnimation;

    width: fit-content;
    display: flex;
    align-items: center;
    height: fit-content;

    &:hover {
        opacity: 0.75;
    }
}
