@import '../../../../(app)/_styles/mixins.scss';

@mixin header-styles($font-size, $font-size-p, $font-weight) {
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        @include fontSize(toRem($font-size), 4vw, toRem($font-size), $font-weight);
        @include flexHorizontalGap(2);

        align-items: center;
    }

    > p {
        @include fontSize(toRem($font-size-p), 4vw, toRem($font-size-p), 400, 150%);

        &:first-of-type {
            padding-top: toRem(8);
        }
    }
}

.wrapper {
    @include flexVerticalGap(4);
    @include header-styles(44, 22, 800);
    @include onMobile {
        @include header-styles(24, 16, 600);
        @include flexVerticalGap(2);

        > h1 > svg {
                width: 24px;
                height: 24px;
        }
    }

    justify-content: center;

    &.XL {
        @include header-styles(62, 20, 800);
    }
}
